body {
    background: linear-gradient(to bottom right, #90caf9, #e3f2fd);
    font-family: "Segoe UI", sans-serif;
    color: #212121;
    min-height: 100vh;
}

h1 {
    font-weight: 600;
    color: #0d47a1;
}

.navbar {
    background-color: #1565c0 !important;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 12px;
}

.card-header {
    background-color: #1976d2;
    color: white;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.btn-primary {
    background-color: #1976d2;
    border: none;
    transition: 0.3s;
}

.btn-primary:hover {
    background-color: #0d47a1;
}

#temperature {
    font-size: 2.5rem;
    color: #0d47a1;
}

#description {
    font-style: italic;
    color: #424242;
}

@media (max-width: 600px) {
    h1 {
        font-size: 22px;
    }

    .btn {
        width: 100%;
        margin-top: 6px;
    }
}